html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Учимся работать с шаблонизатором Pug"
  body
    h1 Hello, World! 
    - var menu = require('./dataset.json')
  - for (x = 0; x < 3; x++)
    li item

  if 10 == 10
    h2 Working Game

  if 1 == 1
    h2  exist